@pcapcc360:registry=https://nexus.sigma.sbrf.ru/nexus/content/repositories/npm-corp/
@sber-gakrgs-ui:registry=https://nexus.sigma.sbrf.ru/nexus/content/repositories/npm-all/
registry=https://nexus.sigma.sbrf.ru/nexus/content/repositories/npm-all/
node-options=--max_old_space_size=8192
strict-ssl=false
_auth=${BASE64AUTH}
